@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
  --very-dark-blue-color: #141c3a;
  --dark-purple-color: #6e07f3;
  --dark-cyan-color: #5be9b9;
  --white-color: #ffffff;
  --font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: var(--font-family);
}

nav .logo {
  color: var(--very-dark-blue-color);
  text-transform: uppercase;
  letter-spacing: 0.313rem;
  font-weight: 900;
  font-size: 1.4rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--very-dark-blue-color);
  font-weight: 500;
}

.nav-links .login-link {
  color: var(--white-color);
  background: var(--dark-purple-color);
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;
}

.hero,
.about-me,
.contact-me,
.login,
.blog,
.skills,
.my-work {
  font-family: var(--font-family);
  display: flex;
}

.hero .container {
  margin: 8rem auto;
  text-align: center;
}

.hero .container h1 {
  font-weight: 800;
  font-size: 3rem;
  color: var(--very-dark-blue-color);
  margin-bottom: 1.5rem;
}

.hero .container h2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--very-dark-blue-color);
  margin-bottom: 1.5rem;
}

.hero .container img {
  margin: 2rem 0;
}

.about-me {
  background: var(--dark-purple-color);
  color: var(--white-color);
  display: block;
}

.about-me .container,
.blog .blog-intro,
.my-work .works-intro {
  text-align: center;
  padding: 9rem 4.5rem;
}

.about-me .container h1,
.blog .blog-intro h1,
.my-work .works-intro h1 {
  margin-bottom: 1.5rem;
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.125;
}

.about-me .container h2,
.blog .blog-intro h2,
.my-work .works-intro h2 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
}

.skills .skill-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: -6rem 6rem 8rem 6rem;
  background: var(--white-color);
  text-align: center;
  padding: 2rem 0;
  border-radius: 0.8rem;
  box-shadow: 0 4px 4px 0 rgba(20, 28, 58, 15%);
}

.skills .skill-cards .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills .skill-cards .skill:first-of-type {
  border-right: 1px solid rgba(20, 28, 58, 15%);
}

.skills .skill-cards .skill:last-of-type {
  border-left: 1px solid rgba(20, 28, 58, 15%);
}

.skills .skill-cards .skill .icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: var(--dark-cyan-color);
  display: flex;
  margin: 1rem 0;
}

.skills .skill-cards .skill .icon i {
  margin: auto;
  color: var(--very-dark-blue-color);
  font-size: 1.5rem;
}

.skills .skill-cards .skill .skill-name {
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--very-dark-blue-color);
  margin-bottom: 1.8rem;
}

.skills .skill-cards .skill p {
  margin-bottom: 2rem;
  color: var(--very-dark-blue-color);
  font-weight: 300;
}

.skills .skill-cards .skill .info {
  display: flex;
  flex-direction: column;
}

.skills .skill-cards .skill .info .list,
.skills .skill-cards .skill .tools ul {
  font-weight: 500;
  color: var(--very-dark-blue-color);
  margin-top: 0.4rem;
}

.skills .skill-cards .skill .info .list {
  margin-bottom: 1.5rem;
}

.skills .skill-cards .skill .info span:first-of-type,
.skills .skill-cards .skill .tools span {
  font-weight: 600;
  color: var(--dark-purple-color);
}

.skills .skill-cards .skill .tools ul {
  list-style: none;
  margin-bottom: 4rem;
}

.my-work .works-intro {
  color: var(--very-dark-blue-color);
}

.my-work .works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  background: transparent;
  margin: 0 8rem 8rem 8rem;
}

.my-work .works .work {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 0.8rem;
  padding: 4rem 1rem;
  box-shadow: 0 4px 4px 0 rgba(20, 28, 58, 15%);
}

.my-work .works .work:first-of-type {
  background: var(--very-dark-blue-color);
}

.my-work .works .work:nth-of-type(2) {
  background: var(--dark-cyan-color);
}

.my-work .works .work:last-of-type {
  background: var(--dark-purple-color);
}

.my-work .works .work span {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--white-color);
}

.my-work .works .work a {
  color: var(--white-color);
  text-decoration: none;
  border: 1px solid var(--white-color);
  width: 30%;
  align-self: center;
  padding: 0.6rem;
  font-size: 0.8rem;
  font-weight: 800;
  margin-top: 1rem;
  border-radius: 4rem;
}

.blog,
.my-work {
  flex-direction: column;
}

.blog .blog-intro {
  background: var(--dark-purple-color);
  color: var(--white-color);
}

.blog .blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  background: transparent;
  margin-top: -6rem;
}

.blog .blogs .article {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: var(--white-color);
  border-radius: 0.8rem;
  padding: 8rem 2rem;
  box-shadow: 0 4px 4px 0 rgba(20, 28, 58, 15%);
}

.blog .blogs .article:first-of-type {
  margin-left: 1rem;
}

.blog .blogs .article:last-of-type {
  margin-right: 1rem;
}

.blog .blogs .article span {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--very-dark-blue-color);
}

.blog .blogs .article a {
  color: var(--dark-purple-color);
  font-size: 0.8rem;
  font-weight: 800;
  margin-top: 1rem;
  opacity: 0.8;
}

.contact-me .container {
  margin: 8rem auto;
}

.contact-me .container h1,
.login .container h1 {
  margin-bottom: 1.5rem;
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.125;
  text-align: center;
  color: var(--very-dark-blue-color);
}

.contact-me .container form.contact-form,
.login .container form.login-form {
  display: flex;
  flex-direction: column;
  background: var(--very-dark-blue-color);
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  color: var(--white-color);
}

.contact-me .container form.contact-form label,
.login .container form.login-form label {
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.contact-me .container form.contact-form input,
.login .container form.login-form input {
  padding: 0.4rem 0.2rem;
  border: 1px solid var(--white-color);
  border-radius: 0.25rem;
  background: transparent;
  color: var(--white-color);
  font-family: var(--font-family);
}

.contact-me .container form.contact-form input:focus,
.login .container form.login-form input:focus {
  outline: 0;
}

.contact-me .container form.contact-form textarea {
  padding: 0.4rem 0.2rem;
  border: 1px solid var(--white-color);
  border-radius: 0.25rem;
  background: transparent;
  color: var(--white-color);
  font-family: var(--font-family);
}

.contact-me .container form.contact-form textarea:focus {
  outline: 0;
}

.contact-me .container form.contact-form .messenger-info {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

.contact-me .container form.contact-form .messenger-info .name,
.contact-me .container form.contact-form .messenger-info .email,
.contact-me .container form.contact-form .message,
.login .container form.login-form .info {
  display: flex;
  flex-direction: column;
}

.contact-me .container form.contact-form .messenger-info .name {
  margin-right: 1rem;
}

.contact-me .container form.contact-form button,
.login .container form.login-form button {
  margin: 1rem 0;
  padding: 0.4rem 0;
  align-self: center;
  font-family: var(--font-family);
  font-weight: 500;
  background: transparent;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  border-radius: 0.25rem;
  width: 40%;
}

.login .container {
  margin: 10rem auto;
  width: 30%;
}

.login .container form.login-form .info:first-of-type {
  margin-bottom: 1rem;
}

.login .container form.login-form input {
  background: var(--white-color);
}

.blog-article h1,
.blog-article p {
  font-family: var(--font-family);
  color: var(--very-dark-blue-color);
}

.blog-article h1 {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-weight: 800;
  font-size: 2rem;
}

.blog-article p {
  text-align: justify;
  margin: 1rem 8rem;
  line-height: 1.5;
  font-size: 1.2rem;
}

footer {
  background: var(--dark-purple-color);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .call{
  background: var(--very-dark-blue-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 2rem 4rem;
  border-radius: .5rem;
  margin-top: -3.5rem;
  margin-bottom: 2rem;
}

footer .call span:first-of-type {
  font-size: 1.5rem;
  font-weight: 800;
}

footer .call span:last-of-type {
  font-weight: 600;
}

footer .call button {
  background: transparent;
  color: var(--white-color);
  padding: .8rem 1.8rem;
  border: 1px solid var(--dark-cyan-color);
  border-radius: 2rem;
  font-size: 1.1rem;
  font-family: var(--font-family);
}

footer h4,
footer h5 {
  color: var(--white-color);
  font-family: var(--font-family);
}

footer h4 {
  text-transform: uppercase;
  letter-spacing: 0.313rem;
  font-weight: 900;
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

footer h5 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1.4rem;
}

footer .socials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  font-size: 1.4rem;
  color: var(--white-color);
  margin-bottom: 4rem;
}

footer .socials .social {
  border: 1px solid var(--white-color);
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  display: flex;
}

footer .socials .social i {
  margin: auto;
}

footer .rights {
  margin-bottom: 4rem;
  font-size: .8rem;
  font-weight: 500;
  color: var(--white-color);
}